<!DOCTYPE html>
<html>

<head>
    <title>صفحة البحث</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
</head>
<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
        ~
    }
    
    .container h1 {
        margin-bottom: 20px;
    }
    
    .container form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .container form input[type="text"] {
        padding: 10px;
        margin-bottom: 10px;
        width: 300px;
    }
    
    .container form button {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }
    
    .results p {
        margin: 10px;
    }
</style>

<body>
    <div class="container">
        <form method="GET" action="/search">
            <input style="width: 250%" type="text" name="query" placeholder="Enter A Word" list="suggestions">
            <datalist id="suggestions">
            </datalist>
            <button type="submit">Send</button>
        </form>
        <br>
        <div style="height: 16em; width:45%">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                <h4>Search Results</h4>
                            </div>
                            {% if results %}
                            <ul>
                                {% for result in results %}
                                <li>{{ result }}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p>لا توجد نتائج لعرضها</p>
                            {% endif %}
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const searchInput = document.querySelector('input[name="query"]');
        const suggestionList = document.querySelector('#suggestions');

        searchInput.addEventListener('input', () => {
            const query = searchInput.value;
            fetch(`/suggestions?query=${query}`)
                .then(response => response.json())
                .then(data => {
                    suggestionList.innerHTML = '';
                    data.suggestions.forEach(suggestion => {
                        const option = document.createElement('option');
                        option.value = suggestion;
                        suggestionList.appendChild(option);
                    });
                })
                .catch(error => console.error(error));
        });
    </script>
</body>

</html>
<!-- <!DOCTYPE html>
<html>

<head>
    <title>Suggested words</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#word').on('input', function() {
                var inputWord = $(this).val();
                if (inputWord.length >= 2) {
                    $.ajax({
                        url: '/suggestions',
                        type: 'POST',
                        data: {
                            word: inputWord
                        },
                        success: function(response) {
                            $('#suggested-words').empty(); // Clear previous suggestions
                            var suggestions = JSON.parse(response);
                            for (var i = 0; i < suggestions.length; i++) {
                                var option = '<option value="' + suggestions[i] + '">' + suggestions[i] + '</option>';
                                $('#suggested-words').append(option);
                            }
                        }
                    });
                } else {
                    $('#suggested-words').empty(); // Clear suggestions when input is less than 2 characters
                }
            });
        });
    </script>
</head>

<body>
    <form>
        <label for="word">Enter a word:</label>
        <input type="text" name="word" id="word">
    </form>

    <h2>Suggested words:</h2>
    <select id="suggested-words"></select>

    <script>
        function getSimilarWords(inputWord) {
            // Send the input word to the backend for processing
            $.ajax({
                url: '/suggestions',
                type: 'POST',
                data: {
                    word: inputWord
                },
                success: function(response) {
                    var suggestions = JSON.parse(response);
                    console.log(suggestions); // Do something with the suggestions
                }
            });
        }

        var inputWord = "example";
        getSimilarWords(inputWord); // Call the function with the input word
    </script>
</body>

</html> -->